{% extends 'blogs/base.html' %}

<h1>At the checklist page</h1>
{%block content%}
<div class="container">
  <div class="col-md-8 mt-3 left">
    <a class="btn btn-primary" href="{% url 'create' %}">Create Item</a>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            {% for post in checklist_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }} | {{ post.completed }}</h2>
                    <a type=submit class="btn btn-primary" href="{% url 'update' post.id%}">Complete</a>
                    {% if post.status == 0 %}
                        <h2 class="card-title alert alert-success" role="alert">{{post.get_status_display}}</h2>
                    {% elif post.status == 1 %}
                        <h2 class="card-title alert alert-warning" role="alert">{{post.get_status_display}}</h2>
                    {% elif post.status == 2 %}
                        <h2 class="card-title alert alert-danger" role="alert">{{post.get_status_display}}</h2>
                    {% endif %}
                    <p class="card-text text-muted h6">{{ post.created_on}} </p>
                    <p class="card-text">{{ post.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'blogs/sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}