{% extends 'blogs/base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.text | safe }}</p>
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            <button type='submit' name="post_id" value = '{{ post.id }}' class="bi bi-hand-thumbs-up"></button> - {{ post.total_likes }} <button type='submit' name="comment" value = '{{ comment.id }}' class="bi bi-chat-dots"></button>
        </form>
    </div>
  </div>
  {% block sidebar %} {% include 'blogs/sidebar.html' %} {% endblock sidebar %}
</div>

{% endblock content %}